@model WebApplication1.Data.Models.AccountingViewModel.AvailableAccountsViewModel

@{
    ViewData["Title"] = "EditAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Edit Account: @Html.Encode(Model.AccountName) </h2>
<form asp-action="EditAccount">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="AccountName" />
        <div class="form-group">
            <label asp-for="Category" class="col-md-2 control-label"> Category: </label>
            <div class="col-md-10">
                <select asp-for="Category" id="Category">
                    <option value="None"> Select Option</option>
                    <option value="Asset"> Asset</option>
                    <option value="Liability"> Liability</option>
                    <option value="OwnersEquity"> Owner's Equity</option>
                    <option value="Revenue"> Revenue</option>
                    <option value="Expense"> Expense</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SubCategory" class="col-md-2 control-label"> SubCategory: </label>
            <div class="col-md-10">
                <select asp-for="SubCategory" id="SubCategory">
                    <option class="cat opt" value="None"> </option>
                    <option class="cat1 opt0 opt" value="CashRelated">Cash Related</option>
                    <option class="cat1 opt1 opt" value="Receivables">Receivables</option>
                    <option class="cat1 opt2 opt" value="Inventories">Inventories</option>
                    <option class="cat1 opt3 opt" value="PrepaidItems">PrepaidItems</option>
                    <option class="cat1 opt4 opt" value="LongTermInvestments">LongTermInvestments</option>
                    <option class="cat1 opt5 opt" value="Land">Land</option>
                    <option class="cat1 opt6 opt" value="Building">Building</option>
                    <option class="cat1 opt7 opt" value="Equipment">Equipment</option>
                    <option class="cat1 opt8 opt" value="Intangibles">Intangibles</option>
                    <option class="cat2 opt0 opt" value="ShortTermPayable">Short-Term Payable</option>
                    <option class="cat2 opt1 opt" value="EmployeePayable">Employee Payable</option>
                    <option class="cat2 opt2 opt" value="EmployerPayable">Employer Payable</option>
                    <option class="cat2 opt3 opt" value="SalesTax">Sales Tax</option>
                    <option class="cat2 opt4 opt" value="DeferredRevenuesAndCurrentPortionLongTermDebt">Deferred Revenues and Current Portion of Long-Term Debt</option>
                    <option class="cat2 opt5 opt" value="LongTermMortgage">Long Term Mortgage</option>
                    <option class="cat3 opt0 opt" value="OwnersEquity">Owner's Equity</option>
                    <option class="cat4 opt1 opt" value="OperatingRevenues">Operating Revenue</option>
                    <option class="cat4 opt2 opt" value="OtherRevenues">Other Revenue</option>
                    <option class="cat5 opt0 opt" value="CostOfGoodsSold">Cost Of Goods Sold</option>
                    <option class="cat5 opt1 opt" value="SellingExpense">Selling Expenses</option>
                    <option class="cat5 opt2 opt" value="GeneralAdministrativeExpense">General and Administrative Expenses</option>
                    <option class="cat5 opt3 opt" value="OtherExpense">Other Expense</option>
                </select>
            </div>
        </div>
        <div class="form-group" style="display:none">
            <div class="col-md-10">
                <input style="display: inline-block;" asp-for="AccountCode" class="form-control" id="AccountCodeFor" />
            </div>
        </div>
        <div class="form-group">
            <label for="AccountCode" class="col-md-2 control-label">Account Code</label>
            <div class="col-md-10">
                <input style="width: 30px;" id="FirstPortionAC" disabled>
                <input style="display: inline-block;" class="form-control" id="AccountCode" />
                <span asp-validation-for="AccountCode" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="radio">
                    <div>
                        <input asp-for="isLeftNormalSide" type="radio" value="false" checked="checked" />
                        Left
                    </div>
                    <div>
                        <input asp-for="isLeftNormalSide" type="radio" value="true" /> Right
                    </div>
                </div>
            </div>
        </div>
        <p id="ErrorMessage" style="color:red"> </p>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" id="create" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function (e) {
            var val = $("#Category").val();
            var val2 = $("#SubCategory").val();
            $("#Category").val(val)
            $("#Category").trigger("change")
            $("#SubCategory").val(val2);
            $("#SubCategory").trigger("change")
            $("#AccountCode").trigger("change")
        })
        $("#Category").change(function () {
            $("#FirstPortionAC").val("");
            $("#SubCategory").removeAttr("disabled")
            $("#SubCategory").css("background-color", "white")
            $("#SubCategory option").css("display", "none")
            var val = $(this).val()
            if (val  == "Asset") {
                $(".cat1").css("display", "block")
            } else if (val == "Liability") {
                $(".cat2").css("display", "block")
            } else if (val == "OwnersEquity") {
                $(".cat3").css("display", "block")
            } else if (val == "Revenue") {
                $(".cat4").css("display", "block")
            } else if (val == "Expense") {
                $(".cat5").css("display", "block")
            } else {
                $("#SubCategory").attr("disabled", "disabled");
                $("#SubCategory").css("background-color", "gray")
            }
            $('#SubCategory option:eq(0)').prop("selected", true)
            $("#AccountCode").trigger("change")
        })
        $("#SubCategory").change(function () {
            $("#SubCategory option:selected").text()
            var text = ""
            if($("#SubCategory option:selected").hasClass("cat1")){
                text = "1"
            } else if ($("#SubCategory option:selected").hasClass("cat2")) {
                text = "2"
            } else if ($("#SubCategory option:selected").hasClass("cat3")) {
                text = "3"
            } else if ($("#SubCategory option:selected").hasClass("cat4")) {
                text = "4"
            } else if ($("#SubCategory option:selected").hasClass("cat5")) {
                text = "5"
            }
            if ($("#SubCategory option:selected").hasClass("opt1")) {
                text += "1"
            } else if ($("#SubCategory option:selected").hasClass("opt2")) {
                text += "2"
            } else if ($("#SubCategory option:selected").hasClass("opt3")) {
                text += "3"
            } else if ($("#SubCategory option:selected").hasClass("opt4")) {
                text += "4"
            } else if ($("#SubCategory option:selected").hasClass("opt5")) {
                text += "5"
            } else if ($("#SubCategory option:selected").hasClass("opt6")) {
                text += "6"
            } else if ($("#SubCategory option:selected").hasClass("opt7")) {
                text += "7"
            } else if ($("#SubCategory option:selected").hasClass("opt8")) {
                text += "8"
            } else if ($("#SubCategory option:selected").hasClass("opt0")) {
                text += "0"
            }
            $("#FirstPortionAC").val(text);
            $("#AccountCodeFor").val($("#FirstPortionAC").val() + "" + $("#AccountCode").val())
            $("#AccountCode").trigger("change")
        })
        $("#AccountCode").change(function (e) {
            $("#AccountCodeFor").val($("#FirstPortionAC").val() + "" + $("#AccountCode").val())
            if ($("#AccountCodeFor").val().length != 5 || $("#FirstPortionAC").val().length != 2) {
                $("#create").attr("disabled", "disabled")
                $("#ErrorMessage").html("The length of account code must be 5. That includes the 2 predefined numbers in the account code from category and sub-category. ")
            } else {
                $("#ErrorMessage").html("")
                $("#create").removeAttr("disabled")
            }
        })
    </script>
}
